/* .carousel-wrapper {
  width: 100%;
  background-color: #f7f7f7;
  padding: 40px 0;
  overflow: hidden;
} */

/* .carousel-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}

.carousel-track {
  display: flex;
  gap: 20px;
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  
  width: 100%;
}

.carousel-card {
  min-width: 82%; 
  height: 450px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  transition: transform 0.5s ease;
  opacity: 0.6; 
}

.carousel-card.active {
  opacity: 1;
}

.bg-coke {
  background: linear-gradient(135deg, #e60000 0%, #b30000 100%);
  color: white;
}

.bg-fanta {
  background: linear-gradient(135deg, #ff8800 0%, #d47100 100%);
  color: white;
}

.bg-sprite {
  background: linear-gradient(135deg, #00a859 0%, #00703c 100%);
  color: white;
}


.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  box-sizing: border-box;
}

.card-content.centered {
  justify-content: center;
  flex-direction: column;
}


.text-content h1 {
  font-family: 'Arial Black', Impact, sans-serif;
  font-size: 55px;
  line-height: 1.1;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.brand-text {
  font-size: 85px;
  font-family: serif;
  font-weight: 900;
}

.brand-text sub {
  font-size: 20px;
}

.image-placeholder-hero {
  position: absolute;
  left: 50px;
  bottom: 0;
  width: 450px;
  height: 100%;
  display: flex;
  align-items: flex-end;
 
}

.character-badge {
  background: rgba(0,0,0,0.4);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 50px;
}


.wave-line {
  position: absolute;
  bottom: 40px;
  right: -10%;
  width: 70%;
  height: 120px;
  background: transparent;
  border-bottom: 25px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: rotate(-10deg);
  pointer-events: none;
}


.disclaimer {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 9px;
  letter-spacing: 0.5px;
  opacity: 0.8;
  white-space: nowrap;
  margin: 0;
  font-family: sans-serif;
}


.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 25px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s ease;
}

.dot.active-dot {
  background-color: #000;
  width: 24px; 
  border-radius: 4px;
}  */